/**Header*/

.App{
  background-color: rgb(205, 174, 134);
  height: 600px;
  width: 100%;
}

.my-card{
  margin-top: 15%;
}

.header{
  justify-content: center;
  text-align: center;
  color: blue;
}

.task-title{
  margin-top: 4%;
}

.task-ls{
  justify-content: center;
  text-align: center;
}

.todo-list{
  list-style: none;
  margin-top: 2%;

}
#tas-text{
  max-width: 52%;
}
.task-button1{
  /* justify-content: space-between; */
  margin-left: 10px;
}

.task-button{
  margin-left: 10px;
}

.complete{
  text-decoration: line-through;
}


.card-footer{
  justify-content: center;
  align-items: center;
  text-align: center;
  
}